/* --------------------------- Home pagina ---------------------------------- */
/* Hero Section */
.hero {
  padding-inline: 2rem;
  padding-block: 2rem;
  text-align: center;
}

.swiper {
  inline-size: 100%;
  max-width: 50rem;
  block-size: auto;
  margin-inline: auto;
  margin-block: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  display: block;
  border-radius: 1rem;
}

.home {
  text-align: center;
}
.home .content {
  text-align: left;
}

/* Video Block */
.video-block {
  text-align: center;
}
.video-block video {
  inline-size: 90%;
  max-inline-size: 800px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* --------------------------- About ---------------------------------------- */
/* --------------------------- Logboek pagina ------------------------------- */
.logboek li {
  padding-block-end: 2rem;
}

/* ---------------------------- Documentatie -------------------------------- */
.components_datasheets {
  overflow-x: auto;
}
.components_datasheets table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
.components_datasheets thead {
  background-color: #007acc;
  color: white;
}
.components_datasheets th,
.components_datasheets td {
  padding: 1rem 1rem;
  border: 1px solid #211529;
  text-align: left;
}
.components_datasheets tbody tr:nth-child(even) {
  background-color: #211529;
}
.components_datasheets a {
  color: #007acc;
  text-decoration: none;
}
.components_datasheets a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .components_datasheets table,
  .components_datasheets thead,
  .components_datasheets tbody,
  .components_datasheets th,
  .components_datasheets td,
  .components_datasheets tr {
    display: block;
  }
  .components_datasheets thead {
    display: none;
  }
  .components_datasheets tr {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    background-color: #1a1a1a;
  }
  .components_datasheets td {
    border: none;
    padding: 0.5rem;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }
  .components_datasheets td::before {
    content: attr(data-label);
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    font-weight: bold;
    white-space: nowrap;
  }
}
/* --------------------------- To-do-list ----------------------------------- */
.to-do-list ul {
  list-style-type: none;
}